{% extends "../template.njk" %}

{% block pageTitle %}Task Details - HMCTS{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <a href="/tasks" class="govuk-back-link">Back to tasks</a>

          {% if error %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                {{ error }}
              </div>
            </div>
          {% endif %}

          <h1 class="govuk-heading-xl">{{ task.title }}</h1>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                {% if task.status == 'TODO' %}
                  <strong class="govuk-tag govuk-tag--blue">
                    {{ task.status }}
                  </strong>
                {% elif task.status == 'IN_PROGRESS' %}
                  <strong class="govuk-tag govuk-tag--yellow">
                    {{ task.status }}
                  </strong>
                {% elif task.status == 'DONE' %}
                  <strong class="govuk-tag govuk-tag--green">
                    {{ task.status }}
                  </strong>
                {% endif %}
              </dd>
            </div>

            {% if task.description %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ task.description }}
                </dd>
              </div>
            {% endif %}

            {% if task.dueDateTime %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Due Date
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ task.dueDateTime | datetimeDisplay }}
                </dd>
              </div>
            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Created
              </dt>
              <dd class="govuk-summary-list__value">
                {{ task.createdAt | dateFilter }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last Updated
              </dt>
              <dd class="govuk-summary-list__value">
                {{ task.updatedAt | dateFilter }}
              </dd>
            </div>
          </dl>

          <div class="govuk-!-margin-top-6">
            <a href="/tasks/{{ task.id }}/edit" class="govuk-button govuk-button--secondary">Edit Task</a>
            <form method="post" action="/tasks/{{ task.id }}/delete" style="display: inline;">
              <button type="submit" class="govuk-button govuk-button--warning" onclick="return confirm('Are you sure you want to delete this task?')">Delete Task</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
